/* Reset Props */
body {
  font-family: 'Roboto', Arial, sans-serif;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4 {
  margin: 0;
}

/* Header */
header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fff;
  border-bottom: 2px solid #eee;
  z-index: 1;
}

.header__container {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
}

.header__image {
  width: 60px;
  margin: 15px;
}

.header__inner {
  float: right;
  clear: both;
  margin: 10px 15px;
  text-align: right;
}

.header__title {
  font-size: 38px;
  font-weight: 300;
}

.header__subtitle {
  font-size: 20px;
  font-weight: 400;
}

main {
  position: relative;
  top: 94px;
}
/* Hero */
#hero {
  position: relative;
  background-image: url("../img/rocks.jpg");
  background-position: top center;
  background-size: cover;
}

.hero__image {
  display: none;
  max-height: 500px;
}

.hero__title {
  position: absolute;
  top: 50%;
  width: 100%;
  color: #fff;
  transform: translateY(-50%);
  text-transform: uppercase;
  text-align: center;
}

.hero__title h1 {
  font-size: 45px;
  font-weight: 300;
  margin: 0 15px;
}

/* Biography */
.biography {
  max-width: 960px;
  padding: 80px 15px;
  margin: 0 auto;
  text-align: center;
}

 /* Features */
.features {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.features__card {
  flex: 50;
  padding: 0 15px;
  overflow: hidden;
}
.features__card-title {
  text-align: center;
}

.features__image {
  display: block;
  height: 195px;
  margin: 0 auto;
  overflow: hidden;
}
