/* Reset Props */
body {
  font-family: 'Roboto', Arial, sans-serif;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4 {
  margin: 0;
  font-weight: 300;
}

/* Header */
header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fff;
  border-bottom: 2px solid #eee;
  z-index: 1;
}

.header__container {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
}

.header__image {
  width: 60px;
  margin: 15px;
}

.header__inner {
  float: right;
  clear: both;
  margin: 10px 15px;
  text-align: right;
}

.header__title {
  color: #112B49;
  font-size: 38px;
}

.header__subtitle {
  color: #666;
  font-size: 20px;
}

/* Main Body Content */
main {
  position: relative;
  padding: 94px 0 50px;
}

/* Hero */
#hero {
  position: relative;
  background-image: url("../img/rocks.jpg");
  background-position: top center;
  background-size: cover;
}

.hero__image {
  display: none;
  max-height: 500px;
}

.hero__title {
  position: absolute;
  top: 50%;
  width: 100%;
  color: #fff;
  font-size: 30px;
  transform: translateY(-50%);
  text-transform: uppercase;
  text-align: center;
}

.hero__title h1 {
  font-size: 45px;
  font-weight: 300;
  margin: 0 15px;
}

/* Biography */
.biography {
  max-width: 960px;
  padding: 80px 15px;
  margin: 0 auto;
  text-align: center;
}

/* Features */
.features {
  display: flex;
  flex-wrap: wrap;
  max-width: 960px;
  margin: 0 auto;
}

.features__title {
  text-align: center;
  margin: 30px 15px;
}

.features__card {
  display: flex;
  flex: 3;
  padding: 0 30px;
  text-align: center;
  flex-direction: column;
}
.features__card-title {
  margin: 15px 0;
  font-weight: 500;
}
.features__image {
  width: 100%;
  overflow: hidden;
}

footer {
  height: 50px;
  padding: 50px 15px;
  background-color: #333;
}

footer ul {
  float: right;
}

footer li {
  display: inline-block;
  margin: 0 15px;
}

footer a {
  color: #fff;
}

/* Tablet Size Things */
@media screen and (max-width: 960px) {

  /* Features Cards change width */
  .features__card {
    flex: 2 40%;
  }



}
