{% extends "base.html" %}
{% block content %}
{% include "header.html" %}

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Edit {{category.name}}</h1>

      <form action="#" method = "post">
        <div class="form-group">
          <label for="name">Name:</label>
          <input type ="text" class="form-control" name="name" value="{{category.name }}">

          <label for="description">Description:</label>
          <textarea class="form-control" maxlength="250" rows="3" name="description"></textarea>

          <label for="file">Image:</label>
          <input type="file" class="form-control" name="file" value="">

          <hr />

          <div class="mt-2 text-right">
            <button type="submit" class="btn btn-success" id="submit" type="submit">
              <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>Save</button>

            <a class="btn btn-warning" href='{{url_for('showLanding')}}'>
              <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Cancel
            </a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
