<header>
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="pull-left">
        <a class="navbar-brand" href="{{url_for('showLanding')}}">
          Catalog App
        </a>
      </div>

      <div class="pull-right">
        {% if 'email' not in session %}
        <a href="{{url_for('showLogin')}}"><button type="button" class="btn btn-success">Login</button></a>
        {% else %}
        <a href="{{url_for('disconnect')}}"><button type="button" class="btn btn-success">Logout</button></a>
        {% endif %}
      </div>
    </div>
  </nav>
</header>
