<header class="bg-dark">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark">
      <a class="navbar-brand mr-auto" href="{{url_for('showLanding')}}">
        Bikes N Things
      </a>

      <div class="my-2 my-lg-0">
        {% if 'email' not in session %}
        <a href="{{url_for('showLogin')}}" class="btn btn-primary my-2 my-sm-0">Login</a>
        {% else %}
        <a href="{{url_for('disconnect')}}" class="btn btn-warning my-2 my-sm-0">Logout</a>
        {% endif %}
      </div>
    </nav>
  </div>
</header>
