{% extends "base.html" %}
{% block content %}
{% include "header.html" %}

<div class="container">
  <div class="row">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="flash">
      <ul>
        {% for message in messages %}
        <li class="alert alert-info"><strong> {{ message }} </strong> </li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}
    {% endwith %}
  </div>

  <div class="row">
    <div class="hero col-md-12">
      <h1 class="hero__title">Welcome to Bikes N things</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2 class="float-left">Categories</h2>

      {% if 'username' in session %}
      <div class="float-right">
        <a class="btn btn-success" href="{{url_for('newCategory')}}">Add Category</a>
      </div>
      {% endif %}
    </div>
    <div class="col-md-12">

      <div class="card-group">
        {% for category in categories %}
        <div class="card">

          {% if category.image_name %}
          <img class="card-img-top" src="{{ url_for('send_file', filename=category.image_name) }}" alt="Image for {{category.name}}" />
          {% else %}
          <img class="card-img-top" src="{{ url_for('send_static', filename='noimage.svg') }}" alt="Image for {{category.name}}" />
          {% endif %}

          <div class="card-body text-center">
            <p>
            <a class="btn btn-dark" href="{{url_for('showItems', category_id = category.id)}}">
              {{ category.name }}
            </a>
          </div>
        </div>
        {% endfor %}
      </div>

      <hr />

      <h2>Latest Items</h2>
      <ul class="list-unstyled">
        {% for item in latestItems %}
        <li><a href="{{url_for('itemDetails', category_id = item.category.id, item_id = item.id)}}">{{ item.name }}</a> ({{ item.category.name }})</li>
        {% endfor %}
      </ul>

    </div>
  </div>
</div>
{% endblock %}
