{% extends "base.html" %}
{% block content %}
{% include "header.html" %}

<div class="container" style="background-color:#FFF;">
  <div class = 'flash'>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
      {% for message in messages %}
      <li><strong> {{ message }} </strong> </li>
      {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
  </div>
  <div class="row">
    <div class="col-md-12">
      <h2>New Item</h2>
      <form action="#" method="post" enctype="multipart/form-data">
        <div class="form-group">
          <label for="name">Name:</label>
          <input type ="text" maxlength="100" class="form-control" name="name" value="">

          <label for="manufacturer">Manufacturer:</label>
          <input type ="text" maxlength="100" class="form-control" name="manufacturer" value="">

          <label for="description">Description:</label>
          <textarea class="form-control" maxlength="250" rows="3" name="description"></textarea>

          <label for="price">Price:</label>
          <div class="input-group">
            <div class="input-group-addon">$</div>
            <input type ="text" maxlength="10" class="form-control" name="price" value="">
          </div>

          <label for="category">Category:</label>
          <select class="form-control" name="category">
            <option>{{ category.name }}</option>
          </select>

          <label for="file">Image:</label>
          <input type="file" class="form-control" name="file" value="">

          <hr />
          <button type="submit" class="btn btn-success" id="submit" type="submit">
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>Save</button>
          <a class="btn btn-warning" href='{{url_for('showLanding')}}'>Cancel</a>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
